body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  --first-color: #750175;
  --second-color: #7c928f;
  --third-color: #0000e4;
  --fourth-color: #e4a700;
  --fifth-color: #645162;
  --sixth-color: #17bf33;
  --seventh-color: #0da8a1;
  --eighth-color: #bf0808;
}
